@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
.hovering {
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out; }
  
  .hovering::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: all 0.3s ease-in-out;
  }
  
  .hovering:hover::after {
    visibility: visible;
    width: 100%;
  }
  
  .hovering:hover {
    color: #000; 
  }
  